@model IEnumerable<ttm3._0.Models.tbKichBan>

@{
    ViewBag.Title = "Kịch bản trong lớp học";
}

<link href="~/Content/datatables.min.css" rel="stylesheet" />
<div class="card shadow mb-4">
    <div class="card-header">
        <h3>@ViewBag.Title</h3>
    </div>
    <div class="card-body">
        <div>
            <div class="card">
                <div class="card-header" style="background-color: deepskyblue;">
                    <h4>THÔNG TIN CƠ BẢN</h4>
                </div>
                <div class="card-body">
                    <p><a href="@ViewBag.VNC">Máy tính cho sinh viên sử dụng VNC</a></p>
                    @Html.Raw(ViewBag.GhiChu)
                </div>
            </div>
            <br />
            <hr />
            <br />
            @foreach (var item in Model)
            {
                <div class="card">
                    <div class="card-header" style="background-color: navajowhite;">
                        <h4>Kịch bản: @item.TenKichBan</h4>
                        <h5>Điểm đã đạt được: @item.Diem</h5>
                        @{ string linksubmit = "";
                            if (item.IdKieuDanhGia == 1)
                            {
                                linksubmit= "/tbKetQuas/ctf/?IdKetQua=" + item.IdKetQua;
                            }else
                            {
                                linksubmit = "/tbKetQuas/UploadFiles/?IdKetQua=" + item.IdKetQua;
                            }
                        }
                        <h5><a href="@linksubmit" target="_blank">Submit kết quả</a></h5>
                    </div>
                    <div class="card-body">
                        <h4>MỤC TIÊU</h4>
                        @Html.Raw(item.MucTieu)
                        <hr />
                        <h4>MÔ TẢ</h4>
                        @Html.Raw(item.NoiDung)
                        <hr />
                        <h4>YÊU CẦU</h4>
                        @Html.Raw(item.YeuCau)
                        <hr />
                    </div>
                </div>
                <br/>
                <hr/>
                <br/>
            }
        </div>
    </div>
    <div class="card-footer">
        <div>
            @Html.ActionLink("Quay lại", "Index")
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/Scripts/jquery-1.12.4.min.js"></script>
    <script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        
    </script>
}