@model ttm3._0.Models.AspNetUser

@{
    ViewBag.Title = "Xóa tài khoản khỏi hệ thống";
    Layout = "~/Views/Shared/_Layout.cshtml";
    string controlName = "AspNetUsers";
}
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h3> @ViewBag.Title</h3>

        <h4>Bạn có chắc chắn muốn xóa tài khoản này?</h4>
    </div>
    <div class="card-body">
        <div>
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.UserName)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.UserName)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.FullName)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.FullName)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.PhoneNumber)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.PhoneNumber)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.LockoutEnabled)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.LockoutEnabled)
                </dd>

            </dl>

            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="form-actions no-color">
                    <input type="submit" value="Xóa tài khoản" class="btn btn-primary" /> |
                    @Html.ActionLink("Quay lại danh sách tài khoản", "Index", @controlName, null, new { @class = "btn btn-primary" })
                </div>
            }
        </div>
    </div>
</div>
