@model ttm3._0.Models.AspNetUser

@{
    ViewBag.Title = "Thông tin chi tiết tài khoản";
    Layout = "~/Views/Shared/_Layout.cshtml";
    string controlName = "AspNetUsers";
}

<div class="ttm-page">
    <div class="ttm-card">
        <div class="ttm-header">
            <div class="ttm-header-left">
                <div class="ttm-icon"><i class="fas fa-user"></i></div>
                <div>
                    <h1 class="ttm-title">@ViewBag.Title</h1>
                    <p class="ttm-subtitle">@Model.UserName</p>
                </div>
            </div>
            <div class="ttm-actions">
                <a href="@Url.Action("Edit", "AspNetUsers", new { id = Model.Id })" class="ttm-btn ttm-btn-primary">
                    <i class="fas fa-edit"></i>
                    <span>Chỉnh sửa</span>
                </a>
                <a href="@Url.Action("Index", controlName)" class="ttm-btn ttm-btn-secondary">
                    <i class="fas fa-arrow-left"></i>
                    <span>Quay lại</span>
                </a>
            </div>
        </div>
        <div class="ttm-body">
            <dl class="dl-horizontal">
                <dt>@Html.DisplayNameFor(model => model.UserName)</dt>
                <dd>@Html.DisplayFor(model => model.UserName)</dd>
                <dt>@Html.DisplayNameFor(model => model.FullName)</dt>
                <dd>@Html.DisplayFor(model => model.FullName)</dd>
                <dt>@Html.DisplayNameFor(model => model.PhoneNumber)</dt>
                <dd>@Html.DisplayFor(model => model.PhoneNumber)</dd>
                <dt>@Html.DisplayNameFor(model => model.LockoutEnabled)</dt>
                <dd>@Html.DisplayFor(model => model.LockoutEnabled)</dd>
            </dl>
        </div>
    </div>
</div>
