@model IEnumerable<ttm3._0.Models.tbSoDoMang>

@{
    ViewBag.Title = "Danh sách sơ đồ mạng";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Content/datatables.min.css" rel="stylesheet" />
<div class="card shadow mb-4">
    <div class="card-header">
        <p>
            @Html.ActionLink("Thêm mới sơ đồ mạng", "Create", null, new { @class = "btn btn-success" }) |
            @Html.ActionLink("Cài đặt cấu hình EVE", "Edit","cleves",null, new { @class = "btn btn-success" })
        </p>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="display table table-bordered" id="table_project">
                <thead>
                <th style="width:30px;">
                    TT
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Ten)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.UUID)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Path)
                </th>
                <th></th>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                    <tr>
                        <td></td>
                        <td class="editable-ten" id="@item.Id">
                            @Html.DisplayFor(modelItem => item.Ten)
                        </td>
                        <td class="editable-uuid" id="@item.Id">
                            @Html.DisplayFor(modelItem => item.UUID)
                        </td>
                        <td class="editable-path" id="@item.Id">
                            @Html.DisplayFor(modelItem => item.Path)
                        </td>
                        <td>
                            @Html.ActionLink("Xóa", "Delete", new { id = item.Id }) |
                            @Html.ActionLink("Danh sách máy tính", "Index", "tbSoDoMangMays", new { IdSoDoMang = item.Id }, null)
                        </td>
                    </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
@section Scripts {
    <script src="~/Scripts/jquery-1.12.4.min.js"></script>
    <script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>
    <script src="~/Scripts/datatables.min.js"></script>
    <script src="~/Scripts/jquery.jeditable.js"></script>
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        $(document).ready(function () {
            var t = $('#table_project').DataTable({
                "pageLength": 50,
                "columnDefs": [{
                    "searchable": false,
                    "orderable": false,
                    "targets": 0
                }],
                "order": [[1, 'asc']]
            });

            t.on('order.dt search.dt', function () {
                t.column(0, { search: 'applied', order: 'applied' }).nodes().each(function (cell, i) {
                    cell.innerHTML = i + 1;
                });
            }).draw();

            $(".editable-uuid").editable("/tbSoDoMangs/UpdateUUID", {
                type: "text", submit: 'OK',
                cancel: 'Hủy',
                data: function (string) { return $.trim(string) }
            });

            $(".editable-path").editable("/tbSoDoMangs/UpdatePath", {
                type: "text", submit: 'OK',
                cancel: 'Hủy',
                data: function (string) { return $.trim(string) }
            });

            $(".editable-ten").editable("/tbSoDoMangs/UpdateTen", {
                type: "text", submit: 'OK',
                cancel: 'Hủy',
                data: function (string) { return $.trim(string) }
            });
        })
    </script>
}

