@model IEnumerable<ttm3._0.Models.tbGiamSat>

@{
    ViewBag.Title = "Giám sát phòng lab";
    int Count = (int)ViewBag.Count;
    int dem = -1;
}

<link href="~/Content/datatables.min.css" rel="stylesheet" />

<div class="ttm-page">
    <div class="ttm-card">
        <div class="ttm-header">
            <div class="ttm-header-left">
                <div class="ttm-icon"><i class="fas fa-desktop"></i></div>
                <div>
                    <h1 class="ttm-title">@ViewBag.Title</h1>
                    <p class="ttm-subtitle">Theo dõi các phiên giám sát phòng lab.</p>
                </div>
            </div>
        </div>
        <div class="ttm-body">
            <div style="width:1090px;">
                @for (int i = 0; i < (int)ViewBag.SoLuong; i++)
                {
                    <div class="row" style="margin-left:5px; margin-right:5px;">
                        @for (int j = 0; j < 3; j++)
                        {
                            dem = dem + 1;
                            <div class="col" style="border:solid 1px var(--accent-cyan, #00a8ff); border-radius: 8px;">
                                @if (dem < Count)
                                {
                                    var v = Model.FirstOrDefault(p => p.TT == dem);
                                    if (v != null && v.Link != null)
                                    {
                                        <span style="width:300px;height:300px; display:inline-block;"></span>
                                        <iframe src="@v.Link" class="iframe"></iframe>
                                        <span class="text-center" style="width:300px !important;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="@v.Link" target="_blank">@v.Ten</a></span>
                                    }
                                    else
                                    {
                                        <span style="width:300px;height:300px; display:inline-block;"></span>
                                        <iframe src="" class="iframe"></iframe>
                                    }
                                }
                                else
                                {
                                    <span style="width:300px;height:300px; display:inline-block;"></span>
                                    <iframe src="" class="iframe"></iframe>
                                }
                            </div>
                        }
                    </div>
                }
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/Scripts/jquery-1.12.4.min.js"></script>
    <script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>
    <script src="~/Scripts/datatables.min.js"></script>
    @Scripts.Render("~/bundles/jqueryval")
}
