@using Microsoft.AspNet.Identity
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>@ViewBag.Title - Thư viện ảnh - Học viện An ninh nhân dân</title>
    <link href="~/Content/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">    
    <link href="~/Content/sb-admin-2.min.css" rel="stylesheet" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body id="page-top">
    <div>
        <!-- Sidebar -->
        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">
            @if (User.Identity.IsAuthenticated)
            {
                <!-- Sidebar - Brand -->
                <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/SearchAnhs/Slide/">
                    <div class="sidebar-brand-icon rotate-n-15">
                        <i class="fas fa-laugh-wink"></i>
                    </div>
                    <div class="sidebar-brand-text mx-3">THƯ VIỆN ẢNH</div>
                </a>

                <!-- Divider -->
                <hr class="sidebar-divider my-0">
                <!-- Nav Item - Tài khoản -->
                <li class="nav-item">
                    <a class="nav-link" href="#">
                        <i class="fas fa-fw fa-wrench"></i>
                        <span>Xin chào: @Html.Raw(User.Identity.GetUserName())</span>
                    </a>
                </li>


                <!-- Divider -->
                <hr class="sidebar-divider my-0">
                <li class="nav-item">
                    <a class="nav-link" href="/SearchAnhs/">
                        <i class="fas fa-fw fa-tachometer-alt"></i>
                        <span>THƯ VIỆN ẢNH</span>
                    </a>
                </li>

                <!-- Divider -->
                <hr class="sidebar-divider my-0">
                <li class="nav-item">
                    <a class="nav-link" href="/SearchAnhs/Gallery/">
                        <i class="fas fa-fw fa-tachometer-alt"></i>
                        <span>BỘ SƯU TẬP</span>
                    </a>
                </li>

                <!-- Divider -->
                <hr class="sidebar-divider my-0">
                <li class="nav-item">
                    <a class="nav-link" href="/tbSuKiens/">
                        <i class="fas fa-fw fa-tachometer-alt"></i>
                        <span>SỰ KIỆN</span>
                    </a>
                </li>

                <!-- Divider -->
                <hr class="sidebar-divider my-0">
                <!-- Nav Item - Đại lý -->
                <li class="nav-item">
                    <a class="nav-link" href="/tbLoaiSuKiens/">
                        <i class="fas fa-fw fa-cog"></i>
                        <span>LOẠI SỰ KIỆN</span>
                    </a>
                </li>

                <!-- Divider -->
                <hr class="sidebar-divider my-0">
                <!-- Nav Item - Tài khoản -->
                <li class="nav-item">
                    <a class="nav-link" href="/tbDonVis/">
                        <i class="fas fa-fw fa-wrench"></i>
                        <span>ĐƠN VỊ</span>
                    </a>
                </li>
                <!-- Divider -->
                <hr class="sidebar-divider my-0">
                <!-- Nav Item - Tài khoản -->
                <li class="nav-item">
                    <a class="nav-link" href="#">
                        <i class="fas fa-fw fa-wrench"></i>
                        <span>PHÂN QUYỀN</span>
                    </a>
                </li>
                @Html.Partial("_LoginPartial")

            }
            else
            {
                <!-- Divider -->
                <hr class="sidebar-divider my-0">
                <!-- Nav Item - Tài khoản -->
                <li class="nav-item">
                    <a class="nav-link" href="/Account/Login">
                        <i class="fas fa-fw glyphicon-log-out"></i>
                        <span>ĐĂNG NHẬP</span>
                    </a>
                </li>
            }
            <!-- Sidebar Toggler (Sidebar) -->
            <div class="text-center d-none d-md-inline">
                <button class="rounded-circle border-0" id="sidebarToggle"></button>
            </div>
        </ul>
        <!-- End of Sidebar -->
        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">
            <!-- Main Content -->
            <div id="content">
                <!-- Topbar -->
                <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
                    <span style="font-weight: bold;font-family: Arial;font-size: 1.5em;color: #e60505;text-shadow: 2px 2px #f3f37a;">THƯ VIỆN ẢNH - TRUNG TÂM LT&amp;TV - HỌC VIỆN ANND</span>
                    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                        <i class="fa fa-bars"></i>
                </nav>
                <div class="container-fluid">
                    @RenderBody()
                </div>
            </div>
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Copyright &copy; Trung tâm LT&amp;TV - Học viện ANND</span>
                    </div>
                </div>
            </footer>
            <!-- End of Footer -->
        </div>
        <!-- End of Content Wrapper -->
    </div>
    <!-- End of Page Wrapper -->
    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>
    <!-- Bootstrap core JavaScript-->
    <script src="~/Content/vendor/jquery/jquery.min.js"></script>
    <script src="~/Content/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- Core plugin JavaScript-->
    <script src="~/Content/vendor/jquery-easing/jquery.easing.min.js"></script>
    <!-- Custom scripts for all pages-->
    <script src="~/Scripts/sb-admin-2.min.js"></script>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>

</html>
