@model ttm3._0.Models.tbKetQua
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Content/themes/base/jquery-ui.min.css" rel="stylesheet" />

<div class="ttm-page">
    <div class="ttm-card">
        <div class="ttm-header">
            <div class="ttm-header-left">
                <div class="ttm-icon"><i class="fas fa-flag-checkered"></i></div>
                <div>
                    <h1 class="ttm-title">@ViewBag.Title</h1>
                    <p class="ttm-subtitle">Nộp đáp án kịch bản CTF.</p>
                </div>
            </div>
        </div>
        <div class="ttm-body ttm-form">
            @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.HiddenFor(model => model.IdKetQua)
                @Html.HiddenFor(model => model.IdKichBan)
                @Html.HiddenFor(model => model.IdLopHoc)
                @Html.HiddenFor(model => model.IdHocVien)
                <div class="form-group">
                    @Html.LabelFor(model => model.DapAn, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.DapAn, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.DapAn, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <button type="submit" class="ttm-btn ttm-btn-primary">
                            <i class="fas fa-paper-plane"></i>
                            <span>Nộp bài</span>
                        </button>
                    </div>
                </div>
            </div>
        }
        </div>
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
