@model ttm3._0.Models.FileModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="ttm-page">
    <div class="ttm-card">
        <div class="ttm-header">
            <div class="ttm-header-left">
                <div class="ttm-icon"><i class="fas fa-upload"></i></div>
                <div>
                    <h1 class="ttm-title">@ViewBag.Title</h1>
                    <p class="ttm-subtitle">Tải lên file kết quả thực hành.</p>
                </div>
            </div>
        </div>
        <div class="ttm-body ttm-form">
            @using (Html.BeginForm("UploadFiles", "tbKetQuas", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            @Html.AntiForgeryToken()
            <div class="form-horizontal">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.HiddenFor(model => model.Id)
                <div class="form-group">
                    @Html.LabelFor(model => model.files, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(model => model.files, "", new { @type = "file" })
                        @Html.ValidationMessageFor(model => model.files, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <button type="submit" class="ttm-btn ttm-btn-primary">
                            <i class="fas fa-upload"></i>
                            <span>Tải lên</span>
                        </button>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10 text-success">
                        @Html.Raw(@ViewBag.UploadStatus)
                    </div>
                </div>
            </div>
        }
        </div>
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}