@model IEnumerable<ttm3._0.Models.tbSoDoMangMay>

@{
    ViewBag.Title = "Danh sách máy tính trong sơ đồ mạng";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Content/datatables.min.css" rel="stylesheet" />
<div class="card shadow mb-4">
    <div class="card-header">
        <p>
            @Html.ActionLink("Thêm mới máy", "Create", new { IdSoDoMang = ViewBag.IdSoDoMang }, new { @class = "btn btn-success" }) |
            @Html.ActionLink("Scan máy trong sơ đồ mạng", "Scan", new { IdSoDoMang = ViewBag.IdSoDoMang }, new { @class = "btn btn-success" })
        </p>
        <p>
            @ViewBag.Loi
        </p>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="display table table-bordered" id="table_project">
                <thead>
                    <th style="width:30px;">
                        
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.MaMay)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.TenMay)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Kieu)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.GhiChu)
                    </th>
                    <th></th>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                    <tr>
                        <td></td>
                        <td class="editable-MaMay" id="@item.Id">
                            @Html.DisplayFor(modelItem => item.MaMay)
                        </td>
                        <td class="editable-TenMay" id="@item.Id">
                            @Html.DisplayFor(modelItem => item.TenMay)
                        </td>
                        <td class="editable-Kieu" id="@item.Id">
                            @Html.DisplayFor(modelItem => item.Kieu)
                        </td>
                        <td class="editable-GhiChu" id="@item.Id">
                            @Html.DisplayFor(modelItem => item.GhiChu)
                        </td>
                        <td>
                            @Html.ActionLink("Xóa", "Delete", new { id = item.Id })
                        </td>
                    </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
@section Scripts {
    <script src="~/Scripts/jquery-1.12.4.min.js"></script>
    <script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>
    <script src="~/Scripts/datatables.min.js"></script>
    <script src="~/Scripts/jquery.jeditable.js"></script>
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        $(document).ready(function () {
            var t = $('#table_project').DataTable({
                "pageLength": 50,
                "columnDefs": [{
                    "searchable": false,
                    "orderable": false,
                    "targets": 0
                }],
                "order": [[1, 'asc']]
            });

            t.on('order.dt search.dt', function () {
                t.column(0, { search: 'applied', order: 'applied' }).nodes().each(function (cell, i) {
                    cell.innerHTML = i + 1;
                });
            }).draw();

            $(".editable-MaMay").editable("/tbSoDoMangMays/UpdateMaMay", {
                type: "text", submit: 'OK',
                cancel: 'Hủy',
                data: function (string) { return $.trim(string) }
            });

            $(".editable-TenMay").editable("/tbSoDoMangMays/UpdateTenMay", {
                type: "text", submit: 'OK',
                cancel: 'Hủy',
                data: function (string) { return $.trim(string) }
            });

            $(".editable-GhiChu").editable("/tbSoDoMangMays/UpdateGhiChu", {
                type: "text", submit: 'OK',
                cancel: 'Hủy',
                data: function (string) { return $.trim(string) }
            });
            $(".editable-Kieu").editable("/tbSoDoMangMays/UpdateKieu", {
                type: "select",
                loadurl: "/tbSoDoMangMays/LoadKieuAsync",
                loadtype: 'GET',
                loaddata: null,
                submit: "OK",
                style: "inherit",
            });
        })
    </script>
}
